

<nav class="navbar navbar-dark bg-primary p-5 d-flex">
  <div class="container justify-content-center align-items-center ">
    <a class="navbar-brand fs-1 fw-bold text-uppercase" href="/" style="text-shadow: 7px 3px #000000;">Stories</a>
  </div>
</nav>
<nav class="navbar navbar-dark bg-dark p-3 d-flex">
  <div class="container justify-content-center align-items-center ">
   
    <a class="navbar-brand btn btn-primary ml-auto" href="/images/Add">subir</a>
  </div>
</nav>
